body{
    margin: 0%;
}

h1{
    margin: 0;
}

.header{
    background-color: orange;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin: 0;

}

.shop_sec{
    display: flex;
}

#menues{
width: 100%;
}

#shoping_cart{
    height: 200px;
    width: 300px;
    background-color: lightblue;
    position: sticky;
}

.amount_cart{
    display: flex;
    gap: 5px;
}

.cart_amount_btn{
    height: 20px;
    width: 20px;
}

/* dishes */
.dish_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: groove;
}

#picture_dish_temp{
    height: 150px;
    width: 200px;
}

#discription_dish_temp{
    display: flex;
    justify-content: center;
}

#atc_button_temp{
    background-color:#91818A;
    border-radius: 5px;
}